<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
        <span th:text="#{creators}"></span>
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

		<br/>
		<span th:text="#{lang}"></span> <a href="?lang=en" th:text="#{lang.eng}"></a>|<a href="?lang=fr" th:text="#{lang.fr}"></a>
        </footer>
    </div>

</div>
</body>
</html>