<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="/">Phillie's Flowers</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li><a href="/"><span th:text="#{home}"></span></a></li>
								<li><a href="/presetPackage"><span th:text="#{preset}"></span></a></li>
								<li><a href="/customPackage"><span th:text="#{custom}"></span></a></li>
								<li><a href="/admin"><span th:text="#{admin}"></span></a></li>
								<li class="active"><a href="/cart"><span th:text="#{cart}"></span></a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	<div class="container">
		<form action="#" th:object="${customerOrder}" th:action="@{/cart/checkout}"
			method="post">

			<table>
				<tr>
					<td th:text="#{fName}"></td>
					<td><input type="text" th:field="*{fName}" /></td>
					<td th:if="${#fields.hasErrors('fName')}" th:errors="*{fName}">first
						name error message</td>
				</tr>
				<tr>
					<td th:text="#{lName}"></td>
					<td><input type="text" th:field="*{lName}" /></td>
					<td th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}">last
						name error message</td>
				</tr>
				<tr>
					<td th:text="#{address}"></td>
					<td><input type="text" th:field="*{address}" /></td>
					<td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address
						error message</td>
				</tr>
				<tr>
					<td th:text="#{creditCard}"></td>
					<td><input type="text" th:field="*{creditCardNum}" /></td>
					<td th:if="${#fields.hasErrors('creditCardNum')}"
						th:errors="*{creditCardNum}">creditCardNum error message</td>
				</tr>
				<tr>
					<td th:text="#{phoneNumber}"></td>
					<td><input type="text" th:field="*{phoneNumber}" /></td>
					<td th:if="${#fields.hasErrors('phoneNumber')}"
						th:errors="*{phoneNumber}">phoneNumber error message</td>
				</tr>
				<tr>
					<td><button type="submit" th:text="#{submit}"></button></td>
				</tr>
			</table>


		</form>
	</div>
	
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>