<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>
<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="/">Phillie's Flowers</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li><a href="/"><span>Home</span></a></li>
								<li><a href="/presetPackage">Pre-set Packages</a></li>
								<li class="active"><a href="/customPackage">Custom Packages</a></li>
								<li><a href="/admin">Admin login</a></li>
								<li><a href="/cart">Cart</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	<form class="text-center" th:object="${Package}"
		th:action="@{/customPackage}" method="post">



		<div class="container">
			<h2>Choose a flower type and a quantity</h2>
			<p>
				<select th:field="*{flower.id}" th:name="flower.id">
					<option th:each="flower : ${Flowers}" th:value="${flower.id}"
						th:text="${flower.name}">FLOWER NAME</option>

				</select>
			</p>
			<input th:field="*{flower.quantity}" type="number" min="1"></input>
			<h2>Choose a addon for your package</h2>
			<p>
				<select th:field="*{addon.id}" th:name="addon.id">
					<option th:each="addon : ${Addons}" th:value="${addon.id}"
						th:text="${addon.name}">ADDON NAME</option>
				</select>
			</p>
			<h2>Name your package</h2>
			<p>
				<input type="text" th:field="*{name}" min="1"></input>
			</p>
			<input type="submit" value="Add to cart"></input>


		</div>
	</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>