<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>
<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="/">Phillie's Flowers</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li><a href="/"><span>Home</span></a></li>
								<li><a href="presetPackage">Pre-set Packages</a></li>
								<li class="active"><a href="customPackage">Custom
										Packages</a></li>
								<li><a href="flower">Individual Flowers</a></li>
								<li><a href="order">Orders</a></li>
								<li><a href="cart">Cart</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	<form>
		<div class="container">
			<h2 class="text-center">Choose a flower type and a quantity</h2>
			<table>
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flower : ${Flowers}">
						<td th:text="${flower.name}"></td>
					</tr>
				</tbody>
			</table>
			<div class="text-center" th:each="flower : ${Flowers}">
				<span th:text="${flower.name}"></span>
			</div>
			<h2 class="text-center">Choose a addon for your package</h2>
			<div class="text-center" th:each="addon : ${Addons}">
				<span th:text="${addon.name}"></span>
			</div>
		</div>
	</form>

</body>
</html>