<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Phillie's Flowers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css"
th:href="@{/styles.css}" />
</head>
<body>
<h1>List flowers below</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Price per flower(€)</th>
	</tr>
	<tr th:each="flower : ${flowers}">
		<td th:text="${flower.name}">NAME</td>
		<td th:text="${flower.price}">PRICE</td>
	</tr>
</table>
</body>
</html>