<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Phillie's Flowers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css"
th:href="@{/styles.css}" />
</head>
<body>
<p>Welcome to Phillie's Flowers</p>


<a href="presetPackage.html"><button type="button">Pre-set Packages</button></a>

<a href="customPackage.html"><button type="button">Custom Packages</button></a>

<a href="flower.html"><button type="button">Individual Flowers</button></a>

<a href="order.html"><button type="button">Orders</button></a>


</body>
</html>
