<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css">
</head>
<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="/">Phillie's Flowers</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li class="active"><a href="/"><span th:text="#{home}"></span></a></li>
								<li><a href="/presetPackage"><span th:text="#{preset}"></span></a></li>
								<li><a href="/customPackage"><span th:text="#{custom}"></span></a></li>
								<li><a href="/admin"><span th:text="#{admin}"></span></a></li>
								<li><a href="/cart"><span th:text="#{cart}"></span></a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	
	<h1 th:text="#{greeting}"></h1>
	
	
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
