<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">

</head>
<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="/">Phillie's Flowers</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li><a href="/"><span>Home</span></a></li>
								<li><a href="/presetPackage">Pre-set Packages</a></li>
								<li><a href="/customPackage">Custom Packages</a></li>
								<li class="active"><a href="/admin">Admin login</a></li>
								<li><a href="/cart">Cart</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	<div class="container">
		<table class="center">
			<tr>
				<th>Order ID</th>
				<th>Contents</th>
				<th>Cost(&euro;)</th>
			</tr>
			<tr th:each="order : ${orders}">
				<td th:text="${order.id}">FLORESTID</td>
				<td th:text="${order.contents}">CONTENTS</td>
				<td th:text="${order.cost}">COST</td>
				<td><a th:href="@{/admin/orders/deleteOrder/{id}(id=${order.id})}"><button>Delete order</button></a></td>
			
			</tr>
		</table>
	</div>
	
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>