<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Phillie's Flowers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css"
th:href="@{/styles.css}" />
</head>
<body>
<h1>List orders below</h1>

<a href="home.html"><button type="button">Home</button></a>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Contents</th>
		<th>Cost</th>
	</tr>
	<tr th:each="order : ${orders}">
		<td th:text="${order.florestId}">FLORESTID</td>
		<td th:text="${order.florestName}">NAME</td>
		<td th:text="${order.contents}">CONTENTS</td>
		<td th:text="${order.cost}">COST</td>
	</tr>
</table>
</body>
</html>