<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Phillie's Flowers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css"
th:href="@{/styles.css}" />
</head>
<body>
<h1>List orders below</h1>

<a href="home.html"><button type="button">Home</button></a>
	<table>
		<tr>
			<th>Order ID</th>
			<th>Contents</th>
			<th>Cost</th>
		</tr>
		<tr th:each="order : ${orders}">
			<td th:text="${order.id}">FLORESTID</td>
			<td th:text="${order.contents}">CONTENTS</td>
			<td th:text="${order.cost}">COST</td>
			<td><a th:href="@{/deleteOrder/{id}(id=${order.id})}" >Delete order</a></td>
			<!-- @{/users/doDelete/{id}(id=${user.id})}" -->
		</tr>
	</table>
</body>
</html>