<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Phillie's Flowers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css"
th:href="@{/styles.css}" />
</head>
<body>
<h1>Pre-Set Packages</h1>

<a href="home.html"><button type="button">Home</button></a>


  <div th:each="package : ${packages}">
  	<form th:object="${package}" th:action="@{cart/addPackage}" method="post">
  		<hr/>
    	Name:<span th:text="${package.name}"></span><input type="hidden" th:name="name" th:value="${package.name}" ></input>
        <br/>Contains:<span th:text="${package.flower}"></span>
        <input type="hidden" th:name="flower.name" th:value="${package.flower.name}" ></input>
        <input type="hidden" th:name="flower.price" th:value="${package.flower.price}" ></input>
        <input type="hidden" th:name="flower.quantity" th:value="${package.flower.quantity}" ></input>
        <input type="hidden" th:name="flower.id" th:value="${package.flower.id}"></input>
        
        <br/><span th:text="${package.addon}"></span>
        <input type="hidden" th:name="addon.name" th:value="${package.addon.name}" ></input>
        <input type="hidden" th:name="addon.cost" th:value="${package.addon.cost}" ></input>
        
        
        <br/>Cost:€<span th:text="${package.price}"></span><input type="hidden" th:name="price" th:value="${package.price}"></input>
        <br/><input type="submit"  value="Add to cart"></input>
        
    </form>
  </div>
</body>
</html>